<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

</div>
<div>

        <h3 th:text="${'('+numResults+') Results'}"></h3>
        <br />
    </div>

    <table class="job-listing" th:each="result: ${results}">
        <tbody>
            <tr th:each="kv: ${result}">
                <td th:text="${#strings.capitalizeWords(kv.key) + ': '}"></td>
                <td th:text="${kv.value}"></td>
            </tr>
        </tbody>
        <br />

    </table>

</body>
</html>